* {
   font-family: sans-serif;
   background-color: rgb(245, 245, 245); 
}
h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}
h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}
p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul { 
    font-size: 18px;
    margin-left: 100px;
    padding: 20px;
    border: 2px solid blue;
    max-width: 40%;
    list-style-type: none;  
}
ul a{
    color: orange;
}
li{
    padding: 10px;
    font-family: monospace;
}
li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
a{
    font-weight: bold;
}
.Neuquen_RioNegro {
    color: green;
}
.Neuquen_RioNegro a {
    color: green;
}